<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ep_codev1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/srb_logo"
        android:label="Schlaganfall Ring"
        android:roundIcon="@mipmap/icd_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EP_CodeV1">
        <activity
            android:name=".VorlesenActivity"
            android:exported="false"/>
        <activity
            android:name=".KarteActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MeineBoxActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PriorityActivity"
            android:exported="false"
            android:parentActivityName=".AnimationActivity" />
        <activity
            android:name=".AnimationActivity"
            android:exported="false"
            android:parentActivityName=".KarteActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>