<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ep_codev1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/srb_logo"
        android:label="Schlaganfall Ring"
        android:roundIcon="@mipmap/icd_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EP_CodeV1">
        <activity
            android:name=".vorlesen_activities.VorlesenActivity4"
            android:exported="false"
            android:parentActivityName=".karte.KarteActivity"/>
        <activity
            android:name=".vorlesen_activities.VorlesenActivity3"
            android:exported="false"
            android:parentActivityName=".karte.KarteActivity"/>
        <activity
            android:name=".vorlesen_activities.VorlesenActivity2"
            android:exported="false"
            android:parentActivityName=".karte.KarteActivity"/>
        <activity
            android:name=".vorlesen_activities.VorlesenActivity1"
            android:exported="false"
            android:parentActivityName=".karte.KarteActivity"/>
        <activity
            android:name=".meine_box_activities.ErledigtActivity"
            android:exported="false"
            android:parentActivityName=".meine_box_activities.MeineBoxActivity"/>
        <activity
            android:name=".meine_box_activities.SpaeterActivity"
            android:exported="false"
            android:parentActivityName=".meine_box_activities.MeineBoxActivity"/>
        <activity
            android:name=".meine_box_activities.OkActivity"
            android:exported="false"
            android:parentActivityName=".meine_box_activities.MeineBoxActivity"/>
        <activity
            android:name=".DringendActivity"
            android:exported="false"
            android:parentActivityName=".meine_box_activities.MeineBoxActivity"/>
        <activity
            android:name=".Tutorial"
            android:exported="false" />
        <activity
            android:name=".vorlesen_activities.VorlesenActivity"
            android:exported="false" />
        <activity
            android:name=".karte.KarteActivity"
            android:launchMode="singleTask"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".meine_box_activities.MeineBoxActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PriorityActivity"
            android:exported="false"
            android:parentActivityName=".animation_activities.AnimationActivity" />
        <activity
            android:name=".animation_activities.AnimationActivity"
            android:exported="false"
            android:parentActivityName=".karte.KarteActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>